.Homestays-section {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
}


.homestays-all-cards {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.homestays_card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homestays_card:hover {
    transition: scale(1.05);
}


/* ghgf */

.imageReviews {
    position: relative;
    display: inline-block;
    width: 100%; 
}

.imageReviews img {
    height: 300px;
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

.homestaysRating {
    position: absolute;
    bottom: 10px;  
    right: 10px;  
    background-color: rgba(255, 255, 255, 0.6); 
    padding: 10px;
    border-radius: 8px;
    color: black;
    font-weight: 900;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; 
}

.ratingNumber {
    width: 100%;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: rgb(5, 180, 5);
    color: white;
}

.itsHeading {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.itsReviews {
    font-size: 0.9rem;
    color: black; 
}




.homestays_content {
    padding: 20px;
}

.homestays_content h3 {
    margin: 0.5rem;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.homestays-location {
    margin: auto;
    font-size: 1rem;
    color: black;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 1.5rem;
}

.homestays-price {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.availabilityCheck {
    display: flex;
    align-items: center;
    justify-content: center;
}
.homestayAvailable {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 60%;
    background-color: rgb(5, 180, 5);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.homestayPrize {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prizeAll {
    margin: 1.2rem 1rem;
    color: black;
    font-size: 16px;
    width: 100%;
}

.prizeAll del {
    color: #888;
    margin-right: 10px;
}

.prizeAll .discount {
    color: rgb(10, 195, 10);
    font-size: 22px;
    font-weight: bold;
}

.homestaysButtons {
    margin: 30px 1rem;
    display: flex;
    justify-content: space-between;
}

.homestaysBtnone, .homestaysBtntwo {
    height: 2.7rem;
    width: 7rem;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 6.5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.homestaysBtntwo {
    background-color: rgb(9, 225, 37);
}

.homestaysBtnone:hover , .homestaysBtntwo:hover {
    transform: scale(1.1);
}