.Treks-section {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
}


.allCards {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.trek-card{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trek-card:hover {
    transition: scale(1.05);
}


.trek-card img {
    max-width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.trek-card-content {
    padding: 20px;
}

.trek-card h3 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}

.details div {
    display: flex;
    align-items: center;
}


.details img {
    width: 35px;
    height: auto;
    margin-right: 5px;
}

.duration, .difficulty {
    font-size: 10px;
    color: black;
}

.duration span, .difficulty span {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.price {
    margin-top: 40px;
    color: black;
    font-size: 16px;
}

.price del {
    color: #888;
    margin-right: 10px;
}

.price .discount {
    color: rgb(10, 195, 10);
    font-size: 22px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content:space-evenly;
    margin: 30px 0;
}

.btnone, .btntwo {
    height: 2.7rem;
    width: 7rem;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 6.5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btntwo {
    background-color: rgb(9, 225, 37);
}

.btnone:hover , .btntwo:hover {
    transform: scale(1.1);
}

.slick-list {
    padding: 0 10px; /* Adds padding around the carousel */
}

.slick-slide {
    display: flex;
    justify-content: center;
}

/* Key fix: add gap between slides */
.slick-track {
    display: flex !important;
    gap: 20px; /* Controls the gap between cards */
    padding: 0 15px; /* Adds padding on the left and right */
}
