.main_banner {
    width: 100%;
    position: relative;
    height: 600px; /* Set a fixed height for the banner */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Ensure no overlap of content inside the banner */
}

.main_banner_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ensure the background covers the full banner height */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.main_banner h1 {
    position: relative;
    z-index: 2; /* Ensure the heading is above the background */
    margin: 0;
    color: rgb(0, 128, 255);
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000; /* Use white or a color that contrasts with the background */
    font-size: 4rem;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center; /* Center the text horizontally */
}

